
/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;